@import '../../styleComponents/menu/menu.scss';
@import '../../styleComponents/form/form.scss';

body {
    @include flexBox($fd: column, $j: flex-start);
    min-height: 100vh;
}

.banner {
    width: 100%;
    height: 40vh;

    background: url(../../../assets/Imagens/bannerSigin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    @include flexBox($fd: column, $g: 2rem);
    width: 100%;
    max-width: 800px;
    padding: 0 $paddingSide-mobile;
    margin: 2rem 0;

    .title {
        @include flexBox($fd: column, $g: 1.5rem);
        width: 100%;

        font-family: 'Yeseva One';
        font-size: 1.5rem;

        #titleContainer {
            @include flexBox($fd: column, $g: .5rem);
            width: 100%;

            .subTitle {
                font-size: 1.3rem;
            }
        }
    
        #optionsForm {
            @include flexBox($j: space-between);
            width: 100%;
            max-width: 300px;
            font-family: 'Roboto';
            font-size: 1rem;

            .option {
                @include flexBox($g: .8rem);
            }
        }
    }

    .form {
        @include flexBox($j: space-evenly, $g: 2rem 1rem, $fw: wrap);
        width: 100%;

        .field {
            @include flexBox($fd: column, $a: flex-start, $g: .5rem);
            font-family: 'Roboto';

            input {
                width: 250px;

                &#federativeUnit, &#federativeUnitSignin{
                    width: 50px;
                    text-align: center;
                    padding: .5rem;
                }
            }
        }

        &:not(.active) {
            display: none;
        }

        .primary {
            width: 100%;
            // max-width: 400px;
            max-width: 300px;
            font-size: 1rem;
            margin: 0 auto;
        }
    }
}

// Responsividade para as telas acima de 1001px

@media (min-width: 1001px) {
    header {
        // Diferente do position: fixed, o sticky fica fixo no topo, mas mantendo sua posição padrão antes do elemento encostar no topo da tela
        position: sticky;
    }

    .banner {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
    }

    main {
        background-color: $secondaryColor-white;
        padding: 2rem 4rem;
        border-radius: .5rem;

        .title {
            font-size: 2rem;
        }

        .form {
            justify-content: space-between;

            .field {
                flex-direction: row;
                align-items: center;

                input {
                    width: 200px;
                }
            }
        }
    }
}